name: Lint

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint shell scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ludeeus/action-shellcheck@2.0.0
  validate:
    name: Validate devcontainer-feature.json files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: devcontainers/action@v1
        with:
          base-path-to-features: ./src
          validate-only: true
